$MENU_BACKGROUND: #222831;
$MENU_ITEM_FONTCOLOR: #0092CA;

$MENU_BRAND_HOVER: #EEEEEE;
$MENU_BRAND_HOVER_FONTCOLOR: #393E46;

$MENU_HOME_HOVER: #CCCCCC;
$MENU_HOME_HOVER_FONTCOLOR: #393E46 ;

$MENU_ABOUT_HOVER: #FF2E63;
$MENU_ABOUT_HOVER_FONTCOLOR: #EAEAEA;

$MENU_CONTACT_HOVER: #30E3CA;
$MENU_CONTACT_HOVER_FONTCOLOR: #40514E;

